.sidebar-header{
    background-color: $app-red;
    color: #666666;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 230px;
    z-index: 30;
    .brand{
        line-height: 60px;
        color: #ffffff;
    }
}

.header{
    height: 60px;
    background-color: $app-red;
    position: fixed;
    z-index: 20;
    left: 0px;
}

.sidebar {
     .nav{
        li{
            a{
                color: #222;
            }
        }
    }
    background: #fff;
    .sidebar-container{
        top: 60px;
    }
}

.table-check{
    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }
}
.more-btn{
    font-size: 15px;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    color: #E31837;
    padding: 0px 8px;
    text-align: center;
    background-color: #eaeaea;
}
.nopadding{
    padding: 0px !important;
}
.btn-orenge {
    color: #fff;
    background-color: #E31837;
    border-color: #E31837;
}
.btn-orenge:hover {
    color: #fff;
    background-color: #E31837;
    border-color: #E31837;
}
.success{
    color:green;
}
.remove{
    color:crimson;
}
.pending{
    color: orange;
}
.inactive{
    color: gainsboro;
}
